@font-face {
  font-family: 'Nucleo Outline';
  src: url('/fonts/nucleo-outline.eot');
  src: url('/fonts/nucleo-outline.eot') format('embedded-opentype'), url('../fonts/nucleo-outline.woff2') format('woff2'), url('../fonts/nucleo-outline.woff') format('woff'), url('../fonts/nucleo-outline.ttf') format('truetype'), url('../fonts/nucleo-outline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nucleo Glyph';
  src: url('/fonts/nucleo-glyph.eot');
  src: url('/fonts/nucleo-glyph.eot') format('embedded-opentype'), url('../fonts/nucleo-glyph.woff2') format('woff2'), url('../fonts/nucleo-glyph.woff') format('woff'), url('../fonts/nucleo-glyph.ttf') format('truetype'), url('../fonts/nucleo-glyph.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background: #171F2E;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: #;
}

header {
  box-sizing: border-box;
  padding: 20px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

header nav .logo {
  flex: 1;
}

header nav .logo img {
  height: 40px;
}

header nav .actions, header nav .links {
  #flex: 1;
  text-decoration: none;
  text-align: right;
}

.links a {
  text-decoration: none;
  display: inline-block;
  #background-color: #EB3C1A;
  text-align: center;
  padding: 10px 20px;
  color: #FFFFFF;
  #border-radius: 3px;
  #border-bottom: 5px solid #A93234;
  margin: 0 10px 0 0;
}

.actions a {
  text-decoration: none;
  display: inline-block;
  background-color: #EB3C1A;
  text-align: center;
  padding: 10px 20px;
  color: #FFFFFF;
  border-radius: 3px;
  border-bottom: 5px solid #A93234;
  margin: 0 10px 0 0;
}

#menu-toggle:checked,
#menu-toggle:not(:checked) {
  opacity: 0;
}

#menu-toggle:checked+label+ul {
  display: block;
  color: #FAFAFA;
}

header nav ul {
  flex: 0;
  min-width: 100%;
  display: none;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

header nav ul li {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav ul li a {
  color: #FAFAFA;
  text-decoration: none;
}

header nav label {
  flex: 1;
  font-family: "Nucleo Glyph";
  color: #FAFAFA;
  font-size: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header nav label::before {
  content: '\edc9';
}

nav label:after,
nav label:before {
  position: absolute;
  right: 20px;
  top: 30px;
}

#intro {
  box-sizing: border-box;
  padding: 20px;
}

#intro .intro h1 {
  color: #F3F1EC;
  font-size: 52px;
  line-height: 1.1em;
  font-weight: 300;
  margin: 10px 0;
  padding: 0;
}

#intro .intro p {
  color: #FAFAFA;
  font-size: 20px;
  line-height: 1.3em;
  margin: 10px 0 30px 0;
  padding: 0;
}

#intro .intro a  {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 20px;
  margin: 20px 0 5px 0;
}

#intro .intro a.play  {
  color: #FFFFFF;
  background-color: #EB3C1A;
  border-radius: 3px;
  border-bottom: 5px solid #A93234;
}

#intro .intro a.team{
  font-size: 18px;
  font-weight: bolder;
  color: #FFF; 
}

#intro .image {
  text-align: center;
}

#intro .image img {
  margin: 30px 0;
  width: 90%;
}

#intro .livestream {
  margin: 40px 0;
}

#intro .livestream a {
  color: #FFFFFF;
  background-color: #EB3C1A;
  border-radius: 3px;
  border-bottom: 5px solid #A93234;
  font-size: 40px;
}

#technologies {
  padding: 90px 20px;
}

#technologies h2 {
  font-size: 35px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 1em;
}

#technologies .logos {
  max-width: 1200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
  margin: 0;
  padding: 0;
}

#technologies .logo {
  padding: 0px 5px;
  margin: 20px auto;
  text-align: center;
}

@media only screen and (min-width : 0px) {
  #technologies .logo {
    flex-basis: 40%;
  }
}

@media only screen and (min-width : 768px) {
  #technologies .logo {
    flex-basis: 30%;
  }
}

@media only screen and (min-width : 992px) {
  #technologies .logo {
    flex-basis: 30%;
  }
}

@media only screen and (min-width : 1200px) {
  #technologies .logo {
    flex-basis: 20%;
  }
}

#technologies .logo img {
  max-width: 100%;
  max-height: 40px;
}

#benefits {
  box-sizing: border-box;
  padding: 50px 20px;
  background: #FAFAFA;
  color: #2C2D31;
}

#benefits .benefit {
  padding-bottom: 30px;
  min-height: 300px;
}

#benefits .image {
  margin-top: 30px;
  text-align: center;
}

#benefits .image img {
  width: 70%;
  margin-bottom: 30px
}

#benefits h2 {
  color: #EB3C1A;
  font-size: 40px;
  margin: 10px 0;
}

#benefits h3 {
  font-size: 22px;
  margin: 10px 0;
}

#benefits ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#benefits li {
  position: relative;
  box-sizing: border-box;
  padding: 10px 0 10px 30px;
}

#benefits li::before {
  font-family: 'Nucleo Outline';
  position: absolute;
  left: 2px;
  top: 17px;
  font-size: 18px;
}

#benefits .anywhere::before {
  content: '\edd5';
}

#benefits .continuous-learning::before {
  content: '\edb1';
}

#benefits .future-fit::before {
  content: '\e7ca';
}

#benefit-expert .image {
  float: left;
}

#benefits .by-experts::before {
  content: '\e9e5';
}

#benefits .hands-on::before {
  content: '\ede0';
}

#benefits .share-knowledge::before {
  content: '\ed4e';
}

#benefits .gain-insight::before {
  content: '\ed08';
}

#benefits .learning-paths::before {
  content: '\e886';
}

#benefits h4 {
  margin: 5px 0;
  font-size: 18px;
}

#benefits p {
  margin: 5px 0;
  font-size: 18px;
  color: #7A7A7A;
}

#story {
  box-sizing: border-box;
  background-color: #EFEFEF;
  padding: 80px 20px;
}

#story h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 10px 0;
}

#story h3 {
  font-size: 22px;
  font-weight: 300;
  margin: 10px 0;
}

#story h4 {
  margin: 5px 0;
  font-size: 18px;
}

#story p {
  margin: 5px 0;
  font-size: 18px;
  color: #7A7A7A;
}

#story ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#story li {
  position: relative;
  box-sizing: border-box;
  padding: 10px 0 10px 30px;
}

#story li::before {
  font-family: 'Nucleo Outline';
  position: absolute;
  left: 2px;
  top: 17px;
  font-size: 18px;
}

#story .team-analytics::before {
  content: '\ecd6';
}

#story .custom-challenges::before {
  content: '\e7ca';
}

#story .knowledge-exchange::before {
  content: '\ef48';
}

#story .actions {
  margin: 20px 0;
}

#story .image {
  text-align: center;
}

#story .image img {
  width: 90%;
}

#events {
  box-sizing: border-box;
  background: #FAFAFA;
  padding: 80px 20px;
}

#events h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 10px 0;
}

#events h3 {
  font-size: 22px;
  font-weight: 300;
  margin: 10px 0;
}

#events h4 {
  margin: 5px 0;
  font-size: 18px;
}

#events p {
  margin: 5px 0;
  color: #7A7A7A;
  font-size: 18px;
}

#events ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#events li {
  position: relative;
  box-sizing: border-box;
  padding: 10px 0 10px 30px;
}

#events li::before {
  font-family: 'Nucleo Outline';
  position: absolute;
  left: 2px;
  top: 17px;
  font-size: 14px;
}

#events .team-analytics::before {
  content: '\ecd6';
}

#events .custom-challenges::before {
  content: '\e7ca';
}

#events .knowledge-exchange::before {
  content: '\ef48';
}

#events .actions {
  margin: 20px 0;
}

footer {
  background-color: #A93234;
  box-sizing: border-box;
  padding: 60px 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 10px 0 0;
}

footer li::before {
  color: #FAFAFA;
  font-family: 'Nucleo Glyph';
  font-size: 24px;
}

footer .twitter::before {
  content: '\eacd';
}

footer .facebook::before {
  content: '\eab6';
}

footer .linkedin::before {
  content: '\eabe';
}

footer .copy {
  margin: 10px 0 0 0;
  color: #FAFAFA;
  font-size: 12px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 0px) and (max-width : 480px) {
  header nav .actions {
    display: none;
  }
}

@media only screen and (min-width : 480px) {
  header nav label {
    display: none;
  }

  #menu-toggle:checked+label+ul {
    display: none;
  }
}

@media only screen and (min-width : 0px) {
  #intro .intro a {
    display: inline-block;
    margin: 20px 10px 5px 0;
  }

  #intro .image img {
    display: none;
    width: 60%;
  }

  #benefits .image img {
    display: none;
    width: 60%;
  }

  #benefit-expert .image {
    float: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .content {
    width: 728px;
    margin-left: auto;
    margin-right: auto;
  }

  #intro {
    vertical-align: top;
  }

  #intro .intro {

  }

  #intro .image img {
    display: none;
    width: 60%;
  }

  #intro .intro a {
    display: inline-block;
    margin: 20px 10px 5px 0;
  }

  #benefits .image img {
    display: none;
    width: 60%;
  }

  #benefit-expert .image {
    float: none;
  }

  #story .story {
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .content {
    width: 952px;
    margin-left: auto;
    margin-right: auto;
  }

  #intro .intro {
    display: inline-block;
    width: 50%;
    min-width: 500px;
  }

  #intro .image {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    text-align: center;
  }

  #intro .image img {
    display: inline-block;
  }
  #benefits .image img {
    display: inline-block;

  }

  #benefit-expert .image {
    float: left;
  }

  #benefits .description {
    display: inline-block;
    width: 60%;
    min-width: 500px;
  }

  #benefits .image {
    vertical-align: top;
    display: inline-block;
    width: 39%;
    text-align: center;
  }

  #story .story {
    vertical-align: top;
    display: inline-block;
    width: 60%;
    min-width: 500px;
  }

  #story .image {
    display: inline-block;
    width: 30%;
    text-align: center;
  }



}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .content {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}
