blockquote {
  color: #E83E27;
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0;
}

blockquote:before {
  content: '“'
}

blockquote:after {
  content: '”'
}

section {
  color: #353740;
  margin-bottom: 50px;
}

section .content {
  padding: 50px 0 50px 0;
  text-align: left;
  max-width: 50%;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

#intro {
  margin: 0 0 50px 0;
}

h1 {
  font-size: 48px;
  margin: 10px 0;
}

#intro p {
  font-size: 32px;
  margin: 10px 0;
}

h2 {
  font-size: 28px;
  margin: 40px 0 5px 0;
}

h3 {
  font-size: 24px;
  margin: 20px 0 5px 0;
}

p {
  margin: 5px 0 20px 0;
  font-size: 24px;
}




*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #353740;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  position: relative;
}

#intro {
  background: #353740;
  color: #FFF;
  -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
  padding-bottom: 100px;
  margin-top: -100px
}

#intro .content {
  padding: 150px 0 50px 0;
  text-align: left;
  width: 50%;
  margin: 0 auto;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
}

#why {
  background: #ECECEC;
  -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
  padding-bottom: 300px;
  margin-top: -100px;
}

#why blockquote {
  margin: 0 0 40px 0;
}

#why .content {
  padding: 100px 0 50px 0;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
}

#learning {
  background: #fff;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
  padding-bottom: 200px;
  margin-top: -300px;
}

#learning .content {
  padding: 50px 0 50px 0;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
}

#gamification {
  color: #ECECEC;
  background: #E83E27;
  -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
  padding-bottom: 100px;
  margin-top: -220px;
}

#gamification blockquote {
  color: #fff;
}

#gamification .content {
  padding: 100px 0 50px 0;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
}

#sharing {
  color: #353740;
  background: #ECECEC;
  -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
  padding-bottom: 130px;
  margin-top: -100px;
}

#sharing .content {
  padding: 100px 0 50px 0;
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
}

/* Footer section */

footer {
  color: #fff;
  background: #353740;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
  padding-bottom: 20px;
  margin-top: -150px;
}

footer blockquote {
  color: #fff;
}

footer .content {
  padding: 50px 0 50px 0;
  text-align: left;
  width: 50%;
  margin: 0 auto;
  -webkit-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
}

footer #copy {
  display: inline-block;
  padding-left: 20px;
}

footer #social {
  text-align: right;
  display: inline-block;
  margin-top: 50px;
  text-align: right;
  width: 80%;
}

footer #social h2 {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

footer #social ul {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
}

footer #social li {
  padding: 5px 10px;
  display: inline-block;
}
