section#what-sets-us-apart {
  @include skew();
  background: $c-background-dark-grey;
  padding: $s-spacing 0;
  color: white;

  p {
    max-width: 1024px;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.4rem;
    padding: 0 ($s-spacing/2);
    @include smallP();

    &:last-of-type {
      margin-top: 50px;
      margin-bottom: 25px;
    }
  }
}
